--extra-index-url https://download.pytorch.org/whl/cu121

# python==3.10
accelerate==1.13.0
beautifulsoup4==4.14.3
bitsandbytes==0.49.2
faiss-cpu==1.14.2
numpy==2.2.6
olefile==0.47
psutil==7.2.2
pypdf==6.12.2
requests==2.34.2
sentence-transformers==3.3.1
streamlit==1.41.1
torch==2.5.1+cu121
tqdm==4.67.3
transformers==4.57.3
